{% extends "categories/category_detail.html" %}

{% load category_helpers generic_markup mptt_tags %}

{% block product_nav %}
<nav id="category_nav">
	<ul>
		<li class="parent_category">
			<h2><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></h2>
			{{ category.description|apply_markup:"markdown" }}
		</li>
	<ul id="category_products">
	{% for product in category.product_set.all|dictsort:"id" %}
		<a href="{{ product.get_absolute_url }}"><li class="product">{{ product.name }}</li></a>
	{% endfor %}
	</ul>
</ul>
</nav>
{% endblock %}